.tableNumber {
  font-style: italic;
  font-family: cursive;
  font-size: x-large !important;
  color: aquamarine;
  text-align: center;
}

.table-wrapper {
  border: 2px dashed lightseagreen;
  padding: 2em;
  border-radius: 1em;
  margin-top: 3em;
}

.table-statuses {
  width: min-content;
  background-color: transparent;
  color: white;
  white-space: nowrap;
  font-family: cursive;
  margin-top: -2.1em !important;
  margin-bottom: 1em !important;
}

.comment-bubble {
  background: #eeeeee;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0em;
}

.registerHeaders {
  text-align: center !important;
  font-family: cursive;
  margin: 1.1em;
  color: navy;
}

.bookstoreTitle {
  margin-top: 0.5em;
  margin-bottom: 1em;
  align-items: center;
  margin-left: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkred;
}

.employee-header {
  margin-bottom: -38px !important;
  text-align: center !important;
  margin-top: 65px;
  font-family: cursive;
  color: chocolate;
}

.logout {
  cursor: pointer;
  font-size: large;
  color: red;
  float: right;
}

.back {
  cursor: pointer;
  font-size: large;
  color: darkblue;
  float: left;
}
