.tableNumber {
  font-style: italic;
  font-family: initial;
  font-weight: bold;
  font-size: xx-large !important;
  color: black;
  text-align: center;
}

.table-wrapper {
  border: 2px dashed;
  border-color: gold;
  padding: 2em;
  border-radius: 1em;
  margin-top: 3em;
}

.table-statuses {
  width: min-content;
  background-color: transparent;
  color: lightblue;
  font-weight: bold;
  white-space: nowrap;
  font-family: cursive;
  margin-top: -2.1em !important;
  margin-bottom: 1em !important;
}

.comment-bubble {
  background: #eeeeee;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0em;
}

.registerHeaders {
  text-align: center !important;
  font-family: cursive;
  margin: 1.1em;
  color: white;
}

.bookstoreTitle {
  align-items: center;
  margin-left: 5%;
  font-family: initial;
  color: greenyellow;
  font-style: italic;
  font-weight: bold;
}

.employee-header {
  margin-bottom: -38px !important;
  text-align: center !important;
  margin-top: 65px;
  font-family: cursive;
  color: yellow;
}

.logout {
  cursor: pointer;
  font-size: large;
  color: red;
  float: right;
}

.back {
  cursor: pointer;
  font-size: large;
  color: chartreuse;
  float: left;
}

.textAboveInput {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.textNextToInput {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 4vh !important;
  font-weight: bold;
}
